<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.student.wxzhongyao.dao.CollectGoodsDao">

    <insert id="addCollectGoods">
		INSERT INTO collect_goods (`user_id`, `goods_id`, `goods_name`,`goods_poster`,`collect_time`) VALUES (#{user_id},#{goods_id},#{goods_name},#{goods_poster},now());

	</insert>

    <select id="findCollectGoods" parameterType="Integer" resultType="com.student.wxzhongyao.entity.CollectGoods">
        select * from collect_goods where user_id = #{user_id}
    </select>

</mapper>
